body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 465px;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
}

.table-cont {
    text-align: center;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

input::placeholder {
    color: #ccc;
    opacity: 1;
}

input:hover {
    border-color: lightslategray;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input.error {
    border: 3px solid red;
}

input.success {
    border-color:green;
}

button {
    width: 65%;
    padding: 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
}

button:hover {
    background: #218838;
}

.error-message {
    width: 80%;
    color: red;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    text-align: left;
    background-color: #f0808059;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.blank-spot {
    padding: 0 1.5vw 0 1.5vw;
}

.color-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    cursor: pointer;
}

.color-palette {
    display: none;
}
