body {
    font-size: 3vh;
}

h1 {
    margin-bottom: 6vh;
}

.link-button {
    border-collapse: collapse;
    width: 100%;
    height: 10vh;
    font-family: Arial, sans-serif;
    font-size: 4vh;
    line-height: 10vh;
    text-decoration: none;
    vertical-align: middle;
    overflow: auto;
}

.link-button:hover {
    background: darkgray;
}

.link-button > a {
    color: blue;
}

.link-button:hover > a {
    color: green;
}

.link-button > a:visited {
    color: purple;
}

.link-button:hover > a:visited {
    color: darkgoldenrod;
}

.link-button > a::before {
    content: "> ";
    text-decoration: none;
}