.p-university {
    margin-left: 55px;
}

#e7:hover {
    text-decoration: underline;
}

.row_style_1 {
    background-color: blue;
    color: yellow;
}

.row_style_2 {
    background-color: greenyellow;
    color: purple;
}


.welcome-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
    text-align: center;
}

.welcome-message.show {
    opacity: 1;
    visibility: visible;
}
